#carouselExampleIndicators{
	padding-top: 65px !important;
}

.fa{
	color: white !important;
}

/*.d-block{
	display: block!important;
}

.img-fluid{
	max-width: 100%;
	height: auto;
}

img{
	vertical-align: middle;
}*/